<div class="page-header">
<h1>Todos los Status</h1>
</div>
<%= link_to 'Nuevo Status', new_status_path, class: "btn btn-primary dropdown-toggle" %>
    <% @statuses.each do |status| %>
      <div class="status">
        <strong><%= status.name %></strong>
        <p><%= status.content %></p>
        <div class="meta">
          <%= link_to  time_ago_in_words(status.created_at), status %>
          <span class="admin">
           | <%= link_to 'Editar', edit_status_path(status) %> |
            <%= link_to 'Eliminar', status, method: :delete, data: { confirm: 'Estas seguro?' } %>
          </span>
        </div>
      </div>      
     <% end %>
              
     
  </tbody>
</table>

<br>


